section.advantages
  .container
    h1.title преимущества модульной технологии
    .advantages-container  
      .advantages-item
        .advantages-item__img.advantages-item__img_icon1
        .advantages-item-text
          h3.advantages-item-text__title Качество
          p.advantages-item-text__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt cabo
      .advantages-item
        .advantages-item__img.advantages-item__img_icon2
        .advantages-item-text
          h3.advantages-item-text__title Скорость
          p.advantages-item-text__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt cabo
      .advantages-item
        .advantages-item__img.advantages-item__img_icon3
        .advantages-item-text
          h3.advantages-item-text__title Доступность
          p.advantages-item-text__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt cabo    
      .advantages-item
        .advantages-item__img.advantages-item__img_icon4
        .advantages-item-text
          h3.advantages-item-text__title Гибкость
          p.advantages-item-text__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt cabo
      .advantages-item
        .advantages-item__img.advantages-item__img_icon5
        .advantages-item-text
          h3.advantages-item-text__title Изменяемость
          p.advantages-item-text__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt cabo
      .advantages-item
        .advantages-item__img.advantages-item__img_icon6
        .advantages-item-text
          h3.advantages-item-text__title Дизайн
          p.advantages-item-text__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt cabo
