section.advantages
  .container
    .row
      span.pixel1 some text
      span.pixel2 some text
      span.pixel3 some text
      span.pixel4 some text
    .row
      span.rem_1 some text
      span.rem_2 some text
      span.rem_3 some text
      span.rem_4 some text
