header.header
    .container
        a.logo(href="#")
        nav.nav
            a.nav__link(href="#") Технология
            a.nav__link(href="#") Преимущества
            a.nav__link(href="#") Готовые проекты
            a.nav__link(href="#") Отзывы
            a.nav__link(href="#") Где посмотреть
        .call
            .call__number +7 (925) 742-4-16
            a(href="tel:+7925742416").call__btn
                i.fa.fa-phone(aria-hidden="true")
                span перезвоните мне
        h1.header__title модульные дома в Москве
        .buttons
            a(href="#").header__btn.btn Посмотреть проекты
            a(href="#").header__btn.btn.btn_white изучить технологию

