section.projects
  .container
    h1.title готовые проекты
    .projects-container
      .projects-item
        img(src="../images/house.jpeg").projects-item__img
        h3.projects-item__title Мечта олигарха
        p.projects-item__description Этажей: 3
        p.projects-item__description Площадь: 1589,98 м2
        .projects-item__price 1 589 980 руб <span>или</span> 13 000 руб/м2
        .btn.projects-item__btn Получить проект
      .projects-item
        img(src="../images/house.jpeg").projects-item__img
        h3.projects-item__title Мечта олигарха
        p.projects-item__description Этажей: 3
        p.projects-item__description Площадь: 1589,98 м2
        .projects-item__price 1 589 980 руб <span>или</span> 13 000 руб/м2
        .btn.projects-item__btn Получить проект
      .projects-item
        img(src="../images/house.jpeg").projects-item__img
        h3.projects-item__title Мечта олигарха
        p.projects-item__description Этажей: 3
        p.projects-item__description Площадь: 1589,98 м2
        .projects-item__price 1 589 980 руб <span>или</span> 13 000 руб/м2
        .btn.projects-item__btn Получить проект
      .projects-item
        img(src="../images/house.jpeg").projects-item__img
        h3.projects-item__title Мечта олигарха
        p.projects-item__description Этажей: 3
        p.projects-item__description Площадь: 1589,98 м2
        .projects-item__price 1 589 980 руб <span>или</span> 13 000 руб/м2
        .btn.projects-item__btn Получить проект
      .projects-item
        img(src="../images/house.jpeg").projects-item__img
        h3.projects-item__title Мечта олигарха
        p.projects-item__description Этажей: 3
        p.projects-item__description Площадь: 1589,98 м2
        .projects-item__price 1 589 980 руб <span>или</span> 13 000 руб/м2
        .btn.projects-item__btn Получить проект
      .projects-item
        img(src="../images/house.jpeg").projects-item__img
        h3.projects-item__title Мечта олигарха
        p.projects-item__description Этажей: 3
        p.projects-item__description Площадь: 1589,98 м2
        .projects-item__price 1 589 980 руб <span>или</span> 13 000 руб/м2
        .btn.projects-item__btn Получить проект
      
        
