section.technology
  .container
    h1.title суть модульной технологии строительства
    p.technology__description Строительство домов по модульной технологии
      |- это в первую очередь возможность достраивать свой дом по мере
      | необходимости. Во-вторых, это скорость строительства, достигаемая
      | за счёт предварительной сборки частей дома у нас на производстве.
      | В-третьих, это гибкость, возможность выбрать ту технологию строительства
      | деревянных домов, которую вы хотите.
    .tabs
      .tabs__link.tabs__link_active sip-панели
      .tabs__link каркас
.tabs-bg
    .container
      .tabs-item.tabs-item_active
        .tabs-item-left
          .tabs-item-left__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugia
          ul.tabs-list
            li.tabs-list__item
              i.fa.fa-check-circle(aria-hidden="true")
              span Преимущество технологии 1
            li.tabs-list__item 
              i.fa.fa-check-circle(aria-hidden="true")
              span Второе преимущество
            li.tabs-list__item
              i.fa.fa-check-circle(aria-hidden="true")
              span Преимущество технологии 1
            li.tabs-list__item 
              i.fa.fa-check-circle(aria-hidden="true")
              span Второе преимущество
            li.tabs-list__item
              i.fa.fa-check-circle(aria-hidden="true")
              span Преимущество технологии 1
            li.tabs-list__item 
              i.fa.fa-check-circle(aria-hidden="true")
              span Второе преимущество
            li.tabs-list__item
              i.fa.fa-check-circle(aria-hidden="true")
              span Преимущество технологии 1
            li.tabs-list__item 
              i.fa.fa-check-circle(aria-hidden="true")
              span Второе преимущество
            li.tabs-list__item
              i.fa.fa-check-circle(aria-hidden="true")
              span Преимущество технологии 1
            li.tabs-list__item 
              i.fa.fa-check-circle(aria-hidden="true")
              span Второе преимущество
          a(href="##").btn Посмотреть вживую
        .tabs-item-right
          img(src="../images/sip.jpeg")
        .tabs-item
          .tabs-item-left
            .tabs-item-left__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugia
            ul.tabs-list
              li.tabs-list__item
                i.fa.fa-check-circle(aria-hidden="true")
                span Преимущество технологии 1
              li.tabs-list__item 
                i.fa.fa-check-circle(aria-hidden="true")
                span Второе преимущество
              li.tabs-list__item
                i.fa.fa-check-circle(aria-hidden="true")
                span Преимущество технологии 1
              li.tabs-list__item 
                i.fa.fa-check-circle(aria-hidden="true")
                span Второе преимущество
              li.tabs-list__item
                i.fa.fa-check-circle(aria-hidden="true")
                span Преимущество технологии 1
              li.tabs-list__item 
                i.fa.fa-check-circle(aria-hidden="true")
                span Второе преимущество
              li.tabs-list__item
                i.fa.fa-check-circle(aria-hidden="true")
                span Преимущество технологии 1
              li.tabs-list__item 
                i.fa.fa-check-circle(aria-hidden="true")
                span Второе преимущество
              li.tabs-list__item
                i.fa.fa-check-circle(aria-hidden="true")
                span Преимущество технологии 1
              li.tabs-list__item 
                i.fa.fa-check-circle(aria-hidden="true")
                span Второе преимущество
            a(href="##").btn Посмотреть вживую
          .tabs-item-right  
          
        
      
    
