doctype html

html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Ccmpatible', content="IE=edge")
        link(rel="stylesheet" href="css/main.min.css")
        title houses
    body
        include sections/header
        include sections/technology
        include sections/advantages.pug
