.advantages
  padding: 105px 0
  &-container
    display: flex
    justify-content: space-between
    flex-wrap: wrap
  &-item
    @include col(4)
    &__img
      float: left
      &_icon1
        @include sprite($icon1)
      &_icon2
        @include sprite($icon2)
      &_icon3
        @include sprite($icon3)
      &_icon4
        @include sprite($icon4)
      &_icon5
        @include sprite($icon5)
      &_icon6
        @include sprite($icon6)
    &-text
      
