$baseSize: 14px;

$cols: 12;
$gutter: 30px;

// fonts

$regular: "OpenSans";
$extarbold: "OpenSans-Extrabold";
$light: "OpenSans-Light";
$lightItalic: "OpenSansLight-Italic";

// color

$colorOrange: #ffba00;
$colorWhite: #fff